
.full-bleed {
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;

  width: 100%;
  max-width: 100vw;
}


.full-bleed iframe {
  display: block;
  width: 100%;
  height: min(80vh, 900px); /* 你可以调：80vh / 70vh / 650px */
  border: 0;
  border-radius: 12px;      /* 可选：更好看 */
}
